body{ 
    margin: 0;
    padding: 0;
    background: #9b8b7b;
    color: black;
    overflow-y: scroll;
}
body::before{
    content:'';
    background: #FFDAB9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -340px;
    transform: rotate(-70deg);
    opacity: 0.07;

}
@keyframes blink {
    0% {
        opacity: 1; /* Totalmente visível */
    }
    50% {
        opacity: 0; /* Invisível */
    }
    100% {
        opacity: 1; /* Totalmente visível novamente */
    }
}
.prazo{
    font-size: 13px;
}
.carousel-inner {
    position: relative;
    
    visibility: visible;
   
}
.titulo{
    display: flex;
    position:relative;
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    
    
    
}
body::after{
    content: 'EM';
    position: absolute;
    top:50%;
    left:50%;
    color: #323118;
    font-size: 250px;
    font-weight: bold;
    transform: translate(-50%,-40%);
    opacity: 0.1;
    z-index: 1;

}
h8{
    font-weight: bold;
    position: absolute;
    top: 85%;
    left: 15%;
    font-size: 15px;
}
#caixa-bolhas {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: var(--size);
    height: var(--size);
    background: rgb(240, 237, 237);
    border-radius: 50%;
    animation: float 10s infinite linear;
    
}
h7{
    position: relative;
    z-index: 10; /* Eleva o link acima de outros elementos */
}
button {
    position:relative;
    z-index: 1;
    background-color: #261a00; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-weight: bold; /* Texto em negrito */
    cursor: pointer; /* Mostra o cursor de "mãozinha" */
    transition: background-color 0.3s ease; /* Transição suave */
}



/* Animação das bolhas */
@keyframes float {
    0% { transform: translateY(0); opacity: 1; 
    opacity: 0.08;
    }
    100% { transform: translateY(-100vh); opacity: 0; }
}

.logo{
    margin: 2px;
    width: 10%;
    border-radius: 50%;
    border:double 2px;
    border-color: #402e0b;
    
}
@media (max-width: 768px) and (max-width:1024px){
    .logo {
        width: 20%; /* Aumenta a largura em telas menores */
        height: 80px;
        width: auto;
    }
}
@media (min-width: 1200px) {
    .logo {
        width: 10%; /* Reduz a largura em telas maiores */
        height: 90px;
        width: auto;
    }
}
.nome{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    width: 100%; 
    background: #402e0b;
    color: white;
    border: double;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    

}
@media (max-width: 768px) {
    .nome {
        width: 80%; /* Aumenta a largura em telas menores */
        font-size: 20px; /* Aumenta o tamanho da fonte */
      
    }
}


.texto-abaixo{
    
    margin: 0 auto;
    font-size:15px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 20px;
    width:fit-content;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 35.5vw;
    z-index:10
    

}
@media (min-width: 768px) {
    .texto-abaixo {
        top: 5vw; /* Ajusta a posição para telas grandes */
        font-size: 18px; /* Aumenta o tamanho da fonte */
        text-align: center; /* Mantém o texto centralizado */
    }
}
.carousel-item img {
    position: relative;
    width: auto; /* Ajusta a largura para ocupar todo o contêiner */
    max-width: 200px; /* Define uma largura máxima */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 250px; /* Define uma altura máxima */
    object-fit: contain; /* Garante que a imagem se ajuste ao contêiner sem distorção */
    margin: 0 auto; /* Centraliza a imagem */
    padding: 45px; /* Adiciona um espaçamento interno */
}
.carousel-caption{
    height: 100%;
}




h6 {
    position: absolute;

    font-size: 20px !important; 
    text-align: center;
    margin: 0 auto;
    left: -5% ;
    top: 30%;
    width: 50%;
}

.carousel-indicators {
    position: absolute; /* Mantém os indicadores dentro do carrossel */
    display: flex; /* Garante que os botões fiquem alinhados horizontalmente */
    justify-content: center; /* Centraliza os indicadores */
    padding:160px
}

@media (min-width: 1024px)  {
    .carousel-indicators {
        padding:130px;
    }


img{
    cursor: pointer;
    position:absolute;
    z-index: 10;
    
}
.carousel{
    width: 100%;
}
@media(max-width:768px){
    .carousel{
        width: 100%; /* Aumenta a largura em telas menores */
    }
}
@media (min-width: 1200px) {
    .carousel {
        width: 100%; /* Reduz a largura em telas maiores */
    }
}


h7{
    font-size: 60px;
    position: absolute;
    left: 60%;
    top: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h7 p{
    
    color: #ffc400;
    background-color: #000000;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    border: double 4px;
    animation: blink 3s infinite; /* Aplica a animação */
}
}
a.wpp{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 65%;
    top: 75%;
    color:rgb(0, 0, 0);
    background-color: #62ff00; /* Cor de fundo */
    
    border: double;
    text-align: start;
    padding: 1px;
    border-radius: 50px;
}

.logo-wpp{
    width: 30px;
    height: 30px;
    /* Espaçamento entre a imagem e o texto */
    top:20%;
    left: 65%;
}
a{
    position: relative;
    z-index: 10; /* Eleva o link acima de outros elementos */
}

@media (max-width: 768px) {


.carousel{
    width: 100%;
}
@media (min-width: 320px) and (max-width: 768px)/*para smarphones*/{
    .carousel{
        width: 100%; /* Aumenta a largura em telas menores */
    }
}
@media (min-width: 1200px) {
    .carousel {
        width: 100%; /* Reduz a largura em telas maiores */
    }
}

h6 {
    position: absolute;

    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    left: 53%;
    top: 1%;
    width: 50%;
}
h7{
    font-size: 20px;
    position: absolute;
    left: 65%;
    top: 30%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h7 p{
    
    color: #ffc400;
    background-color: #000000;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    border: double 4px;
    animation: blink 2s infinite; /* Aplica a animação */
}
h5{
    position: absolute;
    top: 1% !important;;
    left: 25% !important;
}


  
.carousel-inner {
    position: relative; 
    width: 100%;
    height: 300px;
    background:  rgb(236, 221, 186); /* Cor de fundo padrão */
    border: double 4px; /* Borda dupla */

}
}


.logo-wpp{
    width: 30px;
    height: 30px;
    /* Espaçamento entre a imagem e o texto */
    top:0%;
    left: 65%;
}

a{
    position: relative;
    z-index: 10; /* Eleva o link acima de outros elementos */
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    left: 62% !important;
    top: 80%;
    color:rgb(0, 0, 0);
    background-color: #1a3e03; /* Cor de fundo */
    width: fit-content !important;
    height: auto !important;
    border: double;
    text-align: center;
    padding: 5px  5px!important;
    border-radius: 50px;
}
#carouselExampleDark .carousel-item img {
    
    max-width: 300px;
    max-height: 300px;
 
    left: -15%;

}
#carouselExampleDark button {
    background-color: #7c6a04;
}
#carouselExampleDark2 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark2 button {
    background-color: #7c6a04;
}
#carouselExampleDark3 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark3 button {
    background-color: #7c6a04;
}
#carouselExampleDark4 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;

}
#carouselExampleDark4 button {
    background-color: #7c6a04;
}
#carouselExampleDark5 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark5 button {
    background-color: #7c6a04;
}
#carouselExampleDark6 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark6 button {
    background-color: #7c6a04;
}
#carouselExampleDark7 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark7 button {
    background-color: #7c6a04;
}
#carouselExampleDark8 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}    
#carouselExampleDark8 button {
    background-color: #7c6a04;
}
#carouselExampleDark9 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark9 button {
    background-color: #7c6a04;
}
#carouselExampleDark10 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark10 button {
    background-color: #7c6a04;
}
#carouselExampleDark11 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
    
}
#carouselExampleDark11 button {
    background-color: #7c6a04;
}
#carouselExampleDark12 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark12 button {
    background-color: #7c6a04;
}
#carouselExampleDark13 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark13 button {
    background-color: #7c6a04;
}
#carouselExampleDark14 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark14 button {
    background-color: #7c6a04;
}
#carouselExampleDark15 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark15 button {
    background-color: #7c6a04;
}
#carouselExampleDark16 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark16 button {
    background-color: #7c6a04;
}
#carouselExampleDark17 .carousel-item img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    left: -15%;
}
#carouselExampleDark17 button {
    background-color: #7c6a04;
}






