body{ 
    margin: 0;
    padding: 0;
    background: #9b8b7b;
    color: black;
    overflow:hidden;
}
body::before{
    content:'';
    background: #FFDAB9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -340px;
    transform: rotate(-70deg);
    opacity: 0.07;

}
body::after{
    content: 'EM';
    position: absolute;
    top:50%;
    left:50%;
    color: #323118;
    font-size: 250px;
    font-weight: bold;
    transform: translate(-50%,-40%);
    opacity: 0.1;
    z-index: 1;

}
#caixa-bolhas {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: var(--size);
    height: var(--size);
    background: rgb(240, 237, 237);
    border-radius: 50%;
    animation: float 10s infinite linear;
}

/* Animação das bolhas */
@keyframes float {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100vh); opacity: 0; }
}

.logo{
    margin: 2px;
    width: 10%;
    border-radius: 50%;
    border:double 2px;
    
}
.nome{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    width: 100%; 
    background: #402e0b;
    color: white;
    border: double;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-shadow:     0 0 5px #fff, 
    0 0 10px #613c01, 
    0 0 20px #e87510, 
    0 0 30px #ff9500, 
    0 0 40px #674c00, 
    0 0 50px #f7ad00, 
    0 0 60px #7d4901; /* Efeito neon */

}

.masculino{
    transform: rotate(20deg);
}
.texto-abaixo{
    
    margin: 0 auto;
    font-size:15px;
    background: white;
    border-radius: 10px;
    padding: 10px 20px;
    width:fit-content;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 35.5vw;
    z-index:10
    

}
@media (min-width: 768px) {
    .texto-abaixo {
        top: 5vw; /* Ajusta a posição para telas grandes */
        font-size: 18px; /* Aumenta o tamanho da fonte */
        text-align: center; /* Mantém o texto centralizado */
    }
}
.carousel-item img {
    position: relative;
    width: auto; /* Ajusta a largura para ocupar todo o contêiner */
    max-width: 300px; /* Define uma largura máxima */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 250px; /* Define uma altura máxima */
    object-fit: contain; /* Garante que a imagem se ajuste ao contêiner sem distorção */
    margin: 0 auto; /* Centraliza a imagem */
    padding: 30px; /* Adiciona um espaçamento interno */
}
.carousel-caption{
    height: 100%;
}
.infantil {
    width: auto; /* Permite que a largura seja ajustada automaticamente */
    max-width: 300px; /* Define uma largura máxima */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 250px; /* Define uma altura máxima */
    object-fit: contain; /* Ajusta a imagem ao contêiner sem distorção */
    margin: 0 auto; /* Centraliza a imagem */
}
.infantil-masculino{
    transform: rotate(20deg);
}



