body{ 
    margin: 0;
    padding: 0;
    background: #9b8b7b;
    color: black;

}
body::before{
    content:'';
    background: #FFDAB9;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -340px;
    transform: rotate(-70deg);
    opacity: 0.07;

}
body::after{
    content: 'EM';
    position: absolute;
    top:50%;
    left:50%;
    color: #323118;
    font-size: 250px;
    font-weight: bold;
    transform: translate(-50%,-40%);
    opacity: 0.1;
    z-index: 1;

}
#caixa-bolhas {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    position: absolute;
    bottom: -100px;
    width: var(--size);
    height: var(--size);
    background: rgb(240, 237, 237);
    border-radius: 50%;
    animation: float 10s infinite linear;
}

/* Animação das bolhas */
@keyframes float {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-100vh); opacity: 0; }
}

.logo{
    margin: 2px;
    width: 10%;
    border-radius: 50%;
    border:double 2px;
    
}
.nome{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    width: 100%; 
    background: #402e0b;
    color: white;
    border: double;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-shadow:     0 0 5px #fff, 
    0 0 10px #613c01, 
    0 0 20px #e87510, 
    0 0 30px #ff9500, 
    0 0 40px #674c00, 
    0 0 50px #f7ad00, 
    0 0 60px #7d4901; /* Efeito neon */

}
